<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>

  <title>Sentiment Knockout</title>
  <link rel="stylesheet" href="/css/idea.css">

  <script src="//www.google.com/jsapi"></script>
  <script src="/script/chartkick.js"></script>
</head>
<body>
<div class="wrapper">
  <h1>Sentiment Knockout</h1>
  <form action="/contestant" method="POST">
    <div class="clearfix">
      <!-- <label for="thing_1">Thing 1:</label> -->
      <input class="left" type="text" name="thing_1" id="gender" value="(the first thing)">
      <!-- <label for="thing_2">Thing 1:</label> -->
      <input class="right" type="text" name="thing_2" id="gender" value="(the second thing)">

    </div><!-- clearfix -->
    <input class= "center"type="submit" value="Round 1: FIGHT!">
  </form>
</div><!-- wrapper -->
</body>
</html>
