<html>
<head>
  <title>Registration</title>
</head>
<body>
  <form action="/new" method="post">
        Your Name: <input type="text" name="name">
        <br/>
        Your Email: <input type="text" name="email">
        <br/>
        Your Password: <input type="text" name="password">
    <input type="submit" id="submit">
  </form>

